.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  margin: auto;
  padding: 0 48px 6rem;
  animation: containerHeight 0.6s;

  @media (max-width: 700px) {
    padding: 0 24px 6rem;
  }
}

@keyframes containerHeight {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.containerGap {
  gap: 3rem;
}

.aboutLeft {
  width: 70%;
}

.aboutRight {
  width: 25%;
}

.profileComponent {
  display: flex;
  align-items: flex-end;

  @media (max-width: 700px) {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
  }

  .profileSummaryContent {
    display: flex;
    flex: 1;
    flex-direction: column;

    @media (max-width: 700px) {
      width: 100%;
    }

    h4 {
      color: var(--green);
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }

    h3.profileName {
      color: var(--black);
      font-weight: 700;
      font-size: 2.7rem;
      letter-spacing: 2px;
      border-bottom: solid 1.5px var(--green);

      @media (max-width: 700px) {
        font-size: 2rem;
      }
    }

    .contactList {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;

      @media (max-width: 700px) {
        gap: 0.5rem;
      }

      .contactEach {
        display: flex;
        gap: 5px;
        color: var(--black);
        font-weight: 300;
        font-size: 1rem;

        @media (max-width: 700px) {
          flex-direction: column;
        }

        p {
          color: var(--green);
          font-weight: 600;
        }

        a {
          color: var(--black);
          white-space: pre-wrap;
          transition: color 0.1s;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }
  }

  .profileImageBackground {
    padding: 4rem 1.2rem 1.2rem;
    background-color: var(--green);
  }

  .profileImageDiv {
    position: relative;
    width: 15rem;
    margin: auto;
    overflow: hidden;

    &:after {
      display: block;
      padding-bottom: 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 20%;
      scale: 1;
    }
  }
}

.columnComponent {
  display: flex;
  flex-direction: column;
}

.componentTitle {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--green);
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  border-bottom: solid 1px var(--gray400);
}

.componentBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;

  p {
    font-weight: 300;
  }
}

.experienceBody {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 1rem 0;
  border-bottom: solid 1px var(--gray200);

  &:last-child {
    border: none;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .period {
    width: 18%;

    @media (max-width: 700px) {
      width: 100%;
    }

    p {
      font-weight: 500;
    }
  }

  .content {
    width: 78%;

    @media (max-width: 700px) {
      width: 100%;
    }

    .companyName {
      display: flex;
      gap: 3px;
      align-items: center;
      font-weight: 700;
      font-size: 1.4rem;
      transition: color 0.1s;
      width: fit-content;

      svg {
        transition: fill 0.1s;
        fill: var(--black);
      }
    }

    a.companyName {
      &:hover {
        color: var(--orange);

        svg {
          fill: var(--orange);
        }
      }
    }

    .department {
      width: fit-content;
      padding: 0.5rem 0;

      li {
        margin-left: 1rem;
        padding-top: 0.5rem;
        font-weight: 600;
        list-style: disc;

        &.inside {
          margin-left: 2rem;
          padding: 0;
          font-weight: 300;
          font-size: 0.9rem;
          list-style: circle;
        }
      }
    }

    .description {
      width: fit-content;
      margin: 0.5rem 0;
      padding: 10px 15px;
      color: var(--green);
      background-color: var(--gray50);
      border-radius: var(--border-radius);

      b {
        font-weight: bold;
      }
    }
  }
}

.moreShowButton {
  margin: 1rem 0;
  color: var(--gray600);
  background-color: white;
  border: none;
  border-bottom: solid 1px var(--white);
  cursor: pointer;

  &:hover {
    border-bottom: solid 1px var(--gray500);
  }
}

.experienceList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.experienceDetail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  height: fit-content;
  padding: 1.2rem;
  background-color: var(--beige);
  border: solid 1px var(--gray100);
  border-radius: var(--border-radius);

  .title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .date {
    font-size: 0.9rem;
    letter-spacing: -0.8px;
  }

  .linkList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    .linkSvg {
      display: flex;
      align-items: center;
      background-color: inherit;
      fill: var(--green);

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    a.link {
      position: relative;
      z-index: 1;
      display: inline-block;
      padding: 3px 8px;
      color: var(--green);
      font-size: 0.9rem;
      white-space: nowrap;
      background-color: white;
      border-radius: var(--border-radius);
      transition: all 0.3s;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--green);
        border-radius: var(--border-radius);
        transition: all 0.3s;
        content: '';
      }

      &:hover {
        color: white;
      }

      &:hover:after {
        z-index: -1;
        width: 100%;
      }
    }
  }

  .descriptionBody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    border-radius: var(--border-radius);

    @media (max-width: 700px) {
      padding: 0.8rem;
    }

    .detailDescription {
      font-weight: 600;
      font-size: 1rem;
      //color: var(--orange);
    }

    .skillList {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      align-items: center;

      .skill {
        padding: 2px 8px;
        color: var(--gray400);
        font-weight: 400;
        font-size: 0.8rem;
        font-style: italic;
        background-color: white;
        border: solid 1px var(--gray400);
        border-radius: var(--border-radius);
      }
    }

    .summaryDetailListButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      margin: auto;
      padding: 6px;

      svg {
        width: 1rem;
        fill: var(--gray800);
      }

      &:hover {
        animation: buttonJump 1s infinite;
      }
    }

    @keyframes buttonJump {
      0% {
        transform: translateY(0%);
      }

      50% {
        transform: translateY(25%);
      }

      100% {
        transform: translateY(0%);
      }
    }

    .summaryDetailList {
      display: flex;
      flex-direction: column;
      gap: 3px;
      padding: 0.5rem 1.5rem;

      @media (max-width: 700px) {
        padding: 0.5rem 1.2rem;
      }

      .summaryDetail {
        list-style: disc;
        color: var(--black);
        font-weight: 500;

        &.detailBreak {
          font-weight: 300;
        }
      }

      .nestedList {
        list-style: circle;
        margin-left: 1rem;
        font-weight: 300;

        li::marker {
          color: var(--black);
        }
      }
    }
  }
}

.experienceBreakTime {
  margin-top: 1rem;
  padding: 0;
  background-color: white;
  border: 0;

  .descriptionBody {
    margin: 0;
    padding: 0;
  }
}

.skillItemList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .skillItem {
    width: fit-content;
    padding: 5px 16px;
    font-size: 0.9rem;
    list-style: none;
    background-color: var(--gray100);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: var(--green);
      font-size: 1rem;
    }
  }
}

.educationList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;

  li {
    font-weight: 300;
    list-style: circle;
  }
}