.container {
  max-width: var(--max-width);
  width: 92%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.containerGap {
  gap: 3rem;
}

.aboutLeft {
  width: 70%;
}

.aboutRight {
  width: 25%;
}

.profileComponent {
  display: flex;
  align-items: flex-end;

  @media (max-width: 700px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }

  .profileSummaryContent {
    display: flex;
    flex-direction: column;
    flex: 1;

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--green);
      letter-spacing: 1px;
    }

    h3.profileName {
      font-size: 2.7rem;
      font-weight: 800;
      color: var(--black);
      border-bottom: solid 1.5px var(--green);
      letter-spacing: 2px;
    }

    .contactDiv {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      p {
        font-size: 1rem;
        color: var(--black);
        font-weight: 300;
        b {
          font-weight: 600;
          color: var(--green);
        }
      }
    }
  }

  .profileImageBackground {
    background-color: var(--green);
    padding: 4rem 1rem 1rem;
  }
  .profileImageDiv {
    width: 13rem;
    position: relative;
    margin: auto;

    &:after {
      padding-bottom: 100%;
      display: block;
      content: '';
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
}

.columnComponent {
  display: flex;
  flex-direction: column;
}

.componentTitle {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: var(--green);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: solid 1px var(--gray400);
}

.componentBody {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  p {
    font-weight: 300;
  }
}

.experienceBody {
  display: flex;
  flex-direction: row;
  gap: 5%;
  .period {
    width: 18%;
    font-weight: 500;
    letter-spacing: -0.8px;
  }
  .content {
    width: 78%;
    .companyName {
      font-size: 1.3rem;
      font-weight: 500;
      transition: ease-in 0.1s;
      &:hover {
        color: var(--orange);
      }
    }
    .description {
      background-color: var(--gray100);
      width: fit-content;
      border-radius: var(--border-radius);
      margin: 0.5rem 0;
      padding: 10px 15px;
    }
  }
}
