.footer {
  background-color: var(--gray100);
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 90%;
  max-width: var(--max-width);
  height: 100%;
  margin: auto;
  padding: 4rem 0 6rem;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }

  .profileImage {
    position: relative;
    width: auto;
    height: 15rem;
    object-fit: contain;
    border-radius: var(--border-radius);
  }

  .profileDiv {
    display: flex;
    flex-direction: column;
    height: 15rem;

    @media (max-width: 700px) {
      height: 22rem;
    }

    h3 {
      margin-bottom: 0.5rem;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: 2px;

      @media (max-width: 700px) {
        font-size: 1.6rem;
        white-space: pre-wrap;
        text-align: center;
      }
    }

    p {
      color: var(--gray700);
      font-weight: 200;
      line-height: 1.8;

      @media (max-width: 700px) {
        flex-direction: column;
        white-space: pre-wrap;
        text-align: center;
      }
    }

    .copyRightWrapper {
      margin-top: auto;

      @media (max-width: 700px) {
        text-align: center;
      }
    }
  }

  .profileLinkList {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-top: 1.5rem;

    @media (max-width: 700px) {
      justify-content: center;
    }

    .profileLinkIcon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      padding: 4px;

      &:hover {
        background-color: var(--gray200);
        border-radius: var(--border-radius);
      }

      &[title]:hover:before {
        position: absolute;
        top: 100%;
        left: 50%;
        padding: 3px 8px;
        font-size: 0.8rem;
        background-color: var(--gray200);
        border-radius: var(--border-radius);
        transform: translate(-50%, 8px);
        animation: fadeIn 0.6s;
        content: attr(title);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
