.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  height: 100%;
  min-height: 80dvh;
  margin: auto;
  padding: 2rem 0 6rem;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;

  @media (max-width: 700px) {
    font-size: 1.8rem;
  }
}

.description {
  color: var(--gray600);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
}

.date {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem 0;
  color: var(--gray700);
  font-size: 0.85rem;
  border-bottom: solid 2px var(--orange);
}

.content {
  padding: 4rem 2rem;

  @media (max-width: 700px) {
    padding: 3rem 0;
  }
}
