.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  width: 100%;
  height: calc(100dvh - var(--navbar-height));
  object-fit: cover;
  object-position: center;

  @media (max-width: 700px) {
    object-position: 75% 25%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100dvh - var(--navbar-height));
  background-color: transparent;
  backdrop-filter: brightness(100%);
  animation: overlay 1s 0.2s forwards;

  .progress {
    position: absolute;
    bottom: 8rem;
    max-width: 30%;

    @media (max-width: 700px) {
      max-width: 80%;
    }

    > div > div {
      background-color: var(--green);
    }
  }

  .progressButton {
    padding: 3px 12px;
    color: white;
    background-color: var(--green);
    border-radius: var(--border-radius);
    transition: all 0.4s;
    animation: textShow 0.5s forwards;

    &:hover {
      color: var(--green);
      background-color: white;
    }
  }

  .overlayText {
    width: 90%;
    height: fit-content;
    padding-bottom: 4rem;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    opacity: 0;
    animation: textShow 1.5s forwards;

    @media (max-width: 700px) {
      font-size: 1.6rem;
      white-space: pre-wrap;
    }
  }

  .overlayAllTextDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
    animation: textShowAll 1.5s forwards;

    .overlayAllText {
      width: 90%;
      height: fit-content;
      overflow: hidden;
      color: white;
      font-weight: bold;
      font-size: 2.4rem;
      text-align: center;

      &:last-child {
        padding-bottom: 4rem;
      }

      //text-shadow: 0 0 15px black;

      @media (max-width: 700px) {
        font-size: 1.4rem;
        white-space: pre-wrap;
      }
    }
  }
}

@keyframes overlay {
  from {
    backdrop-filter: brightness(100%);
  }
  to {
    backdrop-filter: brightness(45%);
  }
}

@keyframes textShow {
  from {
    transform: translateY(30%);
    opacity: 0;
    //backdrop-filter: brightness(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    //backdrop-filter: brightness(50%);
  }
}

@keyframes textShowAll {
  from {
    transform: translateY(30%);
    opacity: 0;
    //backdrop-filter: brightness(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    //backdrop-filter: brightness(30%);
  }
}

.resetButton {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  fill: var(--green);
}
